@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  h1 {
    margin: 10px;
    width: 50%;
    font-size: 2rem;
    font-style: bold;
  }

  input,
  button,
  textarea {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #555;
  }

  input:focus {
    border-color: lightblue;
  }

  .news-form {
    border: black 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 800px;

    span {
      display: inline-block;
      text-align: right;
      width: 20%;
      margin: 10px;
    }
    input,
    textarea {
      width: 70%;
    }
    button {
      width: 100%;
    }
  }

  .news-item {
    border: black 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 800px;
    position: relative;

    .news-author {
      position: absolute;
      margin: 0;
      padding: 10px;
      font-style: oblique;
      font-size: 0.8rem;
      right: 0;
      bottom: 0;
    }

    .news-title {
      font-style: bold;
      font-size: 1.2rem;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
